<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <% include ../views/partials/header %>
    <main>
      <div id="water">
        <p>Water my plant!</p>
      </div>




      <a href="/livestream">
        <div id="livestream">
          <p>Watch Livestream of Plant</p>
        </div>
    </a>
    </main>
    <% include ../views/partials/footer %>  </body>

</html>
