<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
  </head>
  <body>
    <% include ../views/partials/header %>
    <main>
<iframe width="853" height="480" src="https://www.youtube.com/embed/5T5euHaZc64?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </main>
    <% include ../views/partials/footer %>  </body>
</html>
